services:
  redis:
    container_name: redis
    image: redis:7.0-alpine
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: app
    image: app
    environment:
      SPRING_DATA_REDIS_HOST: redis
    ports:
      - "8080:8080"
    depends_on:
      - redis