.tooltip {
    position: relative;
    border-bottom: 1px dotted black;
}
.tooltip span {
    visibility: hidden;
    width: 15em;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 9;
    top: -1em;
    left:  100%;
    margin-left:1em;
    opacity: 0;
    transition: opacity 1s;
}
.tooltip span::after {
    content: "";
    position: absolute;
    top: 1.5em;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip input {
    display:none;
}
.tooltip input:checked+span {
    visibility: visible;
    opacity: 1;
}
