.cell_closed {
    border-color: #ddd;
    background: #fafafa;
    color: #444;
}

.cell_regular {
    border-color: transparent;
    background: #ffeec9;
    color: #524936;
}

.cell_end {
    border-color: transparent;
    background: #444;
    color: #aaa;
}

.cell_owned_0 {
    border-color: transparent;
    background: #ff6450;
    color: #8a1000;
}

.cell_owned_1 {
    border-color: transparent;
    background: #50bbff;
    color: #00548a;
}

.score_owned_0 {
    color: #ff6450;
}

.score_owned_1 {
    color: #50bbff;
}