.world_table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 90vmin;
    height: 70vmin;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.world_table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.word_cell_container {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.word_cell {
    user-select: none;
    line-height: 80px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

.word_cell > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.open {
    border-color: transparent;
}

.closed {
    border-color: #ddd;
    background: #fafafa;
    color: #444;
}


.kind_regular {
    animation: animation_open 2s, openAnimation_regular 2s;
    animation-fill-mode: forwards;
}

@keyframes openAnimation_regular {
    10%   {
        background: #fafafa;
    }
    11%   {
        background: #fffcf5;
        color: #d8cfad;
    }
    100% {
        background: #fffcf5;
        color: #d8cfad;
    }
}

.kind_end {
    animation: animation_open 2s, openAnimation_end 2s;
    animation-fill-mode: forwards;
}

@keyframes openAnimation_end {
    10%   {
        background: #fafafa;
    }
    11%   {
        background: #444;
        color: #aaa;
    }
    100% {
        background: #444;
        color: #aaa;
    }
}

.kind_owned_0 {
    animation: animation_open 2s, openAnimation_owned_0 2s;
    animation-fill-mode: forwards;
}

@keyframes openAnimation_owned_0 {
    10%   {
        background: #fafafa;
    }
    11%   {
        background: #ff6450;
        color: #8a1000;
    }
    100% {
        background: #ff6450;
        color: #8a1000;
    }
}

.kind_owned_1 {
    animation: animation_open 2s, openAnimation_owned_1 2s;
    animation-fill-mode: forwards;
}

@keyframes openAnimation_owned_1 {
    10%   {
        background: #fafafa;
    }
    11%   {
        background: #50bbff;
        color: #00548a;
    }
    100% {
        background: #50bbff;
        color: #00548a;
    }
}
