.world_table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 90vmin;
    height: 70vmin;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.world_table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.cell_container {
    width: 100%;
    height: 100%;
    cursor: pointer;
    perspective: 400px;
}

.cell {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    cursor: pointer;
    transform-style: preserve-3d;
}

.cell_face {
    user-select: none;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    backface-visibility: hidden;
    display: inline-block;
    /*vertical-align: middle;*/
    /*line-height: normal;*/
}

.face_front {
    border-color: #ddd;
    background: #fafafa;
    color: #444;
}

.face_back {
    border-color: transparent;
    transform: rotateX(180deg);
}

.kind_regular {
    background: #fffcf5;
    color: #d8cfad;
}

.kind_end {
    background: #444;
    color: #aaa;
}

.kind_owned_0 {
    background: #ff6450;
    color: #8a1000;
}

.kind_owned_1 {
    background: #50bbff;
    color: #00548a;
}
