.world_table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 700px;
    height: 500px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.world_table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.world_table td:active:hover > div {
    transform: perspective(400px) rotateX(70deg);
}

.word_cell {
    transition: transform 1s;
    width: 100%;
    height: 100%;
    user-select: none;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    line-height: 80px;
    color: #444;
}

.word_cell > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.open {
    transition: none;
    transform: perspective(400px) rotateX(70deg);
    border-color: transparent;
    animation-fill-mode: forwards;
}

@keyframes animation_open {
    10%   {
        transform: perspective(400px) rotateX(90deg);
    }
    100% {
        transform: perspective(400px) rotateX(0deg);
    }
}

.kind_regular {
    animation: animation_open 2s, openAnimation_regular 2s;
    animation-fill-mode: forwards;
}

@keyframes openAnimation_regular {
    10%   {
        background: #fafafa;
    }
    11%   {
        background: #fffcf5;
        color: #d8cfad;
    }
    100% {
        background: #fffcf5;
        color: #d8cfad;
    }
}

.kind_end {
    animation: animation_open 2s, openAnimation_end 2s;
    animation-fill-mode: forwards;
}

@keyframes openAnimation_end {
    10%   {
        background: #fafafa;
    }
    11%   {
        background: #444;
        color: #aaa;
    }
    100% {
        background: #444;
        color: #aaa;
    }
}

.kind_owned_0 {
    animation: animation_open 2s, openAnimation_owned_0 2s;
    animation-fill-mode: forwards;
}

@keyframes openAnimation_owned_0 {
    10%   {
        background: #fafafa;
    }
    11%   {
        background: #ff6450;
        color: #8a1000;
    }
    100% {
        background: #ff6450;
        color: #8a1000;
    }
}

.kind_owned_1 {
    animation: animation_open 2s, openAnimation_owned_1 2s;
    animation-fill-mode: forwards;
}

@keyframes openAnimation_owned_1 {
    10%   {
        background: #fafafa;
    }
    11%   {
        background: #50bbff;
        color: #00548a;
    }
    100% {
        background: #50bbff;
        color: #00548a;
    }
}
