{
  "presets": ["@babel/typescript", "@babel/react"],
  "plugins": [
    [
      "react-intl",
      {
        "messagesDir": "./tmp/messages",
        "extractSourceLocation": true
      }
    ]
  ]
}
